.scroll {
  width: 1200px;
  // min-width: 1200px;
  padding: 1em;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  mat-drawer-container {
    height: 100vh;
    overflow-x: auto;
    mat-drawer-content {
      justify-content: center;
      display: flex;
    }
  }
}

@media(max-width: 767px) { 
  mat-toolbar {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0.5em;
  }
}